--index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
transformers==4.31.0
diffusers==0.26.3
huggingface_hub
spaces
gradio
fairscale
numpy
pillow
torchdiffeq
click
git+https://github.com/Alpha-VLLM/Lumina-T2X
