--index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
--index-url https://pypi.org/simple 
transformers==4.40.2
diffusers==0.26.3
spaces
fairscale
numpy
pillow
torchdiffeq
click
git+https://github.com/Alpha-VLLM/Lumina-T2X
